<!DOCTYPE html>
<html lang='ko'>

<head>
  <meta charset='UTF-8'>
  <title>{% block title %}{% endblock %}</title>
  {% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'js/customjavascript.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <!--<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js' %}"></script>-->

  <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">--> <!-- 검색창 날아감 -->
  <link rel="stylesheet" href="{% static 'css/customforindex.css' %}">

  <meta name="viewport" content="width=device-width" , initial-scale="1">

  {% block javasrcipt %}{% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%;z-index:10000000;">
    <a class="navbar-brand" href="{% url 'index' %}"><span><img src="{% static 'Demo/Icon/Forge-black2.png' %}" alt="">&nbsp;&nbsp;FTP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<!-- 로그인 부분 -->
      {% if user.is_active %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link" href="{% url 'mypage' %}">{{user.username}}</a>님 환영합니다.
      <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        <!--<a class="nav-link" href="{% url 'logout' %}">로그아웃</a>-->
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarLogin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <div id="login_dropdown" class="dropdown-menu">
        <form class="px-4 py-3" method="post" action="/login/">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleDropdownFormEmail1">ID</label>
            <input type="text" class="form-control" name="id" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="Password">
          </div>

          <input type="submit" class="btn btn-primary" value="Sign In"></input>
        </form>
        <div class="dropdown-divider"></div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" style="margin:4px 24px 4px;">
            Do not have ID?
        </button>
        <a class="dropdown-item" href="#">Forgot password?</a>
      </div>
      <!--Start to Sign-up modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content container">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- 회원가입 -->
            <div class="modal-body">
              <form id="register" method="post" action="{% url 'reguser' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label>User Name</label>
                  <div class="form-row">
                    <div class="col-4">
                      <small id="nameHelpInline" class="text-muted">
                      First name</small>
                      <input type="text" class="form-control" id="regName" placeholder="Enter" maxlength="20" name="firstName">
                    </div>
                    <div class="col">
                      <small id="nameHelpInline" class="text-muted">
                      Last name</small>
                      <input type="text" class="form-control" id="regName" placeholder="your name" maxlength="10" name="lastName">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>ID</label>
                  <input type="text" class="form-control" id="regid" placeholder="Enter your ID" maxlength="20" autocomplete="off" name="regid">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" id="regPass" placeholder="Enter your Password" aria-describedby="passwordHelpInline" name="regpwd">
                  <small id="passwordHelpInline" class="text-muted">
                  Must be 8-20 characters long, contain letters and numbers.</small>
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" id="regConPass" placeholder="Confirm your Password" name="regpwdCheck">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" id="regEmail" placeholder="Enter your Email" name="email">
                </div>
                <div class="form-group">
                  <label>Your Field</label>
                  <select class="form-control" id="UserFieldSelect" name="field">
                    <option>Web</option>
                    <option>Software</option>
                    <option>Embeded</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Language</label>
                  <select class="form-control" id="UserLangSelect" name="language">
                    <option>Python</option>
                    <option>Java</option>
                    <option selected>C</option>
                    <option>Cpp</option>
                    <option>C#</option>
                    <option>Ruby</option>
                  </select>
                </div>
                  <button type="submit" class="btn btn-secondary" form="register">Registration</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
      <!--End to Sign-up modal-->
{% endif %}
<!-- 로그인 파트 끝 -->

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_active %}
        <li class="navbar-nav my-2 my-lg-0">
          <a class="nav-link" href="{% url "write" %}">Create Project</a>
        </li>
        {% endif %}
          <li class="nav-item">
            <button class="btn btn-outline-success Application" onclick="location.href='{% url 'game' %}'" type="button" style="position : relative; top : 0.6rem; display : block">게임</button>
          </li>
      </ul>
    </div>
  </nav>
    <!-- 상단 레이아웃 완성 -->

{% block content %} {% endblock %}

  <!--  -footer-  -->
  <footer class="footer">
    <div class="container" id = "FooterContainer">
      <br>
      <p class="text-muted">Maked by Park, Kim, Moon</p>
      <p class="text-muted">ⓒCopyright 2017 FtP, Designed by Bootstrap</p>
      <br>
    </div>
  </footer>
</body>
</html>