{% extends 'parent/base.html' %}
{% load staticfiles %}

{% block title %}환영합니다{% endblock %}

{% block javascript %}
<style>
    /*.content{*/
        /*display:flex;*/
        /*font: 21px Helvetica;*/
	    /*color: black;*/
        /*text-align: center;*/
    /*}*/

    .welcome-contents{

    }
</style>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>

<div>
    <img src="{% static 'demo/icon/error.png' %}" class="welcome-contents"
         style="width: 25%; height: 25%; margin-left: auto; margin-right: auto; display: block;">
    <p style="text-align: center">죄송합니다. 오류가 발생했습니다.</p>
    <p style="text-align: center">남은 멤버 슬롯이 없습니다. 프로젝트 관리자에게 문의하세요.</p>
</div>
{% endblock %}

<!--TODO: 5초후 redirect-->
<!--TODO: CSS로 디자인-->