{% extends "test/base.html" %}

{% block title %} 프로젝트 생성 {% endblock %}

{% block content %}
    <form action="{% url 'regpost' %}" method="post" id="posting">
        {% csrf_token %}
        제목 <input type="text" name="title" required> <br/>
        프로젝트 요약 <input type="test" name="description" required> <br/>
        <!--대표 이미지 <input type="image" name="image" required> <br/>-->
        소개 <br/>
            <textarea name="contents" form="posting" rows=10 cols=100 required></textarea> <br/>


        <input type="submit">
    </form>
{% endblock %}