{% extends "parent/base.html" %}

{% block title %} 프로젝트 생성 {% endblock %}

{% block content %}
<br>
  <br>
  <br>
  <br>

    {% if edit == True %}
    <form action="{% url 'regchange' post_id=post.postID %}" method="post" id="posting" enctype="multipart/form-data">
        {% csrf_token %}
        제목 <input type="text" name="title" value="{{ post.postName }}" required> <br/>
        프로젝트 요약 <input type="test" name="description" value="{{ post.postDescription }}" required> <br/>
        대표 이미지 <input type="file" name="image" value="{{ post.postImage }}" style="visibility: hidden;"> <br/>
        소개 <br/>
        <textarea name="contents" form="posting" rows=10 cols=100 required>{{ post.contents }}</textarea> <br/>
        <p>해야 할 일 (TODO)</p>
        <input type="text" name="todo1" value="{{ post.todo1 }}"> <br/>
        <input type="text" name="todo2" value="{{ post.todo2 }}"> <br/>
        <input type="text" name="todo3" value="{{ post.todo3 }}"> <br/>
        <input type="text" name="todo4" value="{{ post.todo4 }}"> <br/>
        <input type="text" name="todo5" value="{{ post.todo5 }}"> <br/>
        <p>알림</p>
        <input type="text" name="notice" value="{{ post.notice }}"> <br/>



        <input type="submit">
    </form>

    {% else %}
    <form action="{% url 'regpost' %}" method="post" id="posting" enctype="multipart/form-data">
        {% csrf_token %}
        제목 <input type="text" name="title" required> <br/>
        프로젝트 요약 <input type="test" name="description" required> <br/>
        대표 이미지 <input type="file" name="image"> <br/>
        소개 <br/>
        <textarea name="contents" form="posting" rows=10 cols=100 required></textarea> <br/>

        <input type="text" name="todo1" value="해야 할 일"> <br/>
        <input type="text" name="todo2" value="해야 할 일"> <br/>
        <input type="text" name="todo3" value="해야 할 일"> <br/>
        <input type="text" name="todo4" value="해야 할 일"> <br/>
        <input type="text" name="todo5" value="해야 할 일"> <br/>
        <p>알림</p>
        <input type="text" name="notice" value="알림(Notice)"> <br/>

        <input type="submit">
    </form>
    {% endif %}

{% endblock %}