{% extends 'parent/index_parent.html' %}
{% load staticfiles %}

{% block title %}Forge The Project{% endblock %}

{% block boardheader %}<h3>Web</h3>{% endblock %}

{% block card %}
          {% if postList %}
            {% for post in postList %}
          <div class="col" id="ContentsElement">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{% static "/images/" %}{{ post.postImage }}" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{ post.postName }}</h4>
                <p class="card-text">{{ post.postDescription }}</p>
                <a href="/post/{{ post.postID }}" class="btn btn-secondary">Go Pjt-Room</a>
              </div>
            </div>
          </div>

          {% endfor %}

          {% else %}
            <p>Error Occured</p>
          {% endif %}

{% endblock %}