<!DOCTYPE html>
<html lang='ko'>

<head>
  <meta charset='UTF-8'>
  <title>Forge The Project</title>
  {% load staticfiles %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'js/customjavascript.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <!--<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js' %}"></script>-->

  <meta name="viewport" content="width=device-width" , initial-scale="1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%;z-index:10000000;">
    <a class="navbar-brand" href="#"><span><img src="{% static 'Demo/Icon/Forge-black2.png' %}" alt="">&nbsp;&nbsp;FTP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarLogin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <div  id="login_dropdown" class="dropdown-menu">
        <form class="px-4 py-3" method="post" action="/login/">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <input type="text" class="form-control" name="id" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="Password">
          </div>
          <div class="form-check">
            <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Remember me
      </label>
          </div>
          <input type="submit" class="btn btn-primary" value="Sign In"></input>
        </form>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item">Do not have ID? <a href="/register">Sign up</a></span>
        <a class="dropdown-item" href="#">Forgot password?</a>
      </div>

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- -상단 내비바 끝- -->
<!-- -대문 시작-->

  <div class="jumbotron">
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--대문 글-->
    <h1 class="text-center" style="font : 40px Segoe Script; color : white">Forge ' the Project '</h1><br>

    <!--검색창-->
<form class="" action="index.html" method="get">
      <div class="input-group" id="searchbox">
        <input type="text" name="searchKeyword" class="form-control" placeholder="Search for Pjt">
        <div class="input-group-btn">
          <button type="button" class="btn btn-secondary" onclick="DisplayCard()" style="padding-left: 6px;padding-right: 6px;"><span><img src="{% static 'Demo/icon/filter.png' %}" alt=""></span></button>
          <!--
          <ul class="dropdown-menu">
            <li data-toggle="form-group"><a class="dropdown-item" href="#">Platform</a></li>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <div role="separator" class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
        -->
          <div class="input-group-btn">
            <button type="submit" class="btn btn-secondary border border-light border-top-0 border-bottom-0 border-right-0"><img src="{% static 'Demo/icon/search.png' %}" alt=""></button>
          </div>
        </div>
    </form>
    </div>
    <!--필터 카드-->
    <div class="card card-body" id="Filtercard" style="width: 20rem;height: 280px;padding:0;">
      <div class="card-header" style="height:50px;">
        <button type="button" class="close" aria-label="Close" onclick="DisplayCard()" data-dismiss="card"><span aria-hidden="true">&times;</span></button>
        <h4 class="card-title">Filter</h4>
      </div>
      <div style="padding:6px;">
        <div class="filter-select">
          <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>All</option>
            <option>Web</option>
            <option>Software</option>
            <option>Embeded</option>
            <option>ETC..</option>
          </select>
        </div>
        <div class="filter-select">
          <h6 class="card-subtitle mb-2 text-muted">Language</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>All</option>
            <option>Python</option>
            <option>Java</option>
            <option>C</option>
            <option>Cpp</option>
            <option>C#</option>
            <option>Ruby</option>
            <option>ETC..</option>
          </select>
        </div>
        <div class="filter-select">
          <h6 class="card-subtitle mb-2 text-muted">Project Sizes</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option selected>All</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>ETC..</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="Board">
    <div id="WebBoard">
      <div class="BoardHeader">
        <h2>Web</h2>
      </div>
      <div class="BoardContents">
        <div class="row" id="ContentsRow">
          {% if postList %}
            {% for post in postList %}
          <div class="col" id="ContentsElement">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="{% static "Demo/Icon/resized-DefaultImage.png" %}" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">{{ post.postName }}</h4>
                <p class="card-text">Describe Your Project</p>
                <a href="/post/{{ post.postID}}" class="btn btn-secondary">Go Pjt-Room</a>
              </div>
            </div>
          </div>

          {% endfor %}

          {% else %}
            <p>Error Occured</p>
          {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
