<!DOCTYPE html>
<html lang='ko'>

{% load staticfiles %}

<head>
  <meta charset='UTF-8'>
  <title>Forge The Project</title>
  <!-- Styleshhet CSS3-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/customforpjt.css' %}">
  <!--java script-->
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'js/chartj.js' %}"></script>
  <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>

  <script src="{% static 'js/customjavascript.js' %}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
    var randomScalingFactor = function() {
      return Math.round(Math.random() * 100);
    };

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [
            randomScalingFactor(),
            randomScalingFactor(),
          ],
          backgroundColor: [
            window.chartColors.orange,
            window.chartColors.yellow,
          ],
          label: 'Dataset 1',
          borderWidth: 0
        }],
        labels: [
          "Orange",
          "Yellow",
        ]
      },
      options: {
        cutoutPercentage: 78,
        responsive: true,
        legend: {
          position: 'bottom',
        },
        title: {
          display: true,
          text: 'TODO'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }

    };

    window.onload = function() {
      var i = 0;
      for (i = 0; i < 2; i++) {
        var ctx = document.getElementById("chart-area" + i).getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
      }
    };
  </script>
</head>

<body>
  <div class="div_container">
    <div class="left-menu">
        <!--<a href="/" style="font-size : 15px; color : white;">-->
            <!--<div class="site_title">-->
              <!--<img src="{% static 'Demo/Icon/Forge-resize50.png' %}" alt="Forge.png">&nbsp;&nbsp;-->
              <!--<span style="font-size:15px; text-align:left;">Forge The Project</span>-->
            <!--</div>-->
        <!--</a>-->

        <div class="site_title">
      <a href="/" style="font-size : 15px; color : white; text-decoration:none;">
        <img src="{% static "Demo/Icon/Forge-resize50.png" %}" alt="Forge.png">
        <span>&nbsp;&nbsp;<span>Forge The Project</span>
      </a>
      </div>

        <div class="left-menu-contents" style="text-align:center; order: 2;">
            <p></p>
            <img class="card-img-top" style="width:90%;" src="{% static 'images/' %}{{post.postImage}}">
            <p></p>
            <p>{{ post.postName }}</p>
            <p>팀장 {{ post.userID }}</p>
            <p>{{ post.postDescription }}</p>
            <p></p>
        </div>
    </div>
    <div class="right-main">
      <div class="nav justify-content-end">

        {% if user.username == post.userID %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'edit' post_id=post.postID %}">수정하기</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'join' post_id=post.postID %}">참여하기</a>
        </li>

        {% endif %}
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active" href="#">Active</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Link</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Link</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link disabled" href="#">Disabled</a>-->
        <!--</li>-->
      </div>

      <!--content-->
      <div class="right-content container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!--Start to Chart-->
            <div class="chartdiv container">
              <div class="row">
                <div class="col-6 canvas-holder">
                  <canvas id="chart-area0" style="width:10%;height:10%;margin:15px" />
                </div>
                <div class="col-6 canvas-holder">
                  <canvas id="chart-area1" style="width:10%;height:10%;margin:15px" />
                </div>
              </div>
            </div>
            <!--End to Chart-->
          </div>


          <div class="col-md-6 col-sm-6 col-xs-12">

            <!--Start to Notice-->

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="notice col">
                  <h4>Notice</h4>
                  <div class="card notice-element">
                    <div class="card-body">
                      {{ post.notice }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--End to Notice-->

            <!--Start to Member-->

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Members col">
                  <h4>Members</h4>
                  <div class="Member-board container">
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>Name : {{ post.userID }}</p>
                            <!--<pre>Name : Park Seong-heum       Field : Server</pre>-->
                            <!--<pre>Principal Software Engineer  Language : Everything</pre>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <!--<img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">-->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>{% if post.member1 %} Name : {{ post.member1 }} {% else %} Blank {% endif %}</p>
                            <!--<pre>Name : Kim Yun-gi            Field : WEB</pre>-->
                            <!--<pre>Senior Software Engineer     Language : Everything</pre>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <!--<img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">-->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>{% if post.member2 %} Name : {{ post.member2 }} {% else %} Blank {% endif %}</p>
                            <!--<pre>Name : Moon Yun-gi           Field : Design</pre>-->
                            <!--<pre>Junior Software Engineer     Language : Everything</pre>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--End to Member-->
          </div>
        </div>

       <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="Pannel todoBoard">
              <h4>To Do List</h4>
                <ul class="todo_item">
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo1 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo2 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo3 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo4 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo5 }}</p>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="Pannel">
              <h4>Recent Activities</h4>
              <ul class="timeline">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Bug fixed</a>
                      </h2>
                      <div class="byline">
                        <span>13 hours ago</span> by <a>Mr.Park</a>
                      </div>
                      <p class="excerpt">Django bug fix
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Complete Index Page</a>
                      </h2>
                      <div class="byline">
                        <span>13 hours ago</span> by <a>Mr.Moon</a>
                      </div>
                      <p class="excerpt">Title is Detail</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>Make Registration Modal</a>
                      </h2>
                      <div class="byline">
                        <span>13 hours ago</span> by <a>Mr.Kim</a>
                      </div>
                      <p class="excerpt">Title is Detail</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="Pannel">
              <h4>Calendar</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>
