<!DOCTYPE html>
<html lang='ko'>

<head>
  <meta charset='UTF-8'>
  <title>Forge The Project</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/custom.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="div_container">
    <div class="leftmenu">
      <div class="site_title"><img src="Demo/Icon/Forge-resize50.png" alt="Forge.png">&nbsp;&nbsp;<span>Forge The Project</span></div>
    </div>
    <div class="rightcontent">
      nice to meet you
    </div>
  </div>

  </div>

</body>

</html>
