<!DOCTYPE html>
<html lang='ko'>

{% load staticfiles %}

<head>
  <meta charset='UTF-8'>
  <title>Forge The Project</title>
  <!-- Styleshhet CSS3-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/customforpjt.css' %}">
  <!--java script-->
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'js/chartj.js' %}"></script>
  <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>

  <script src="{% static 'js/customjavascript.js' %}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript">
    var randomScalingFactor = function() {
      return Math.round(Math.random() * 100);
    };

    var config4todo  = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [
              {{ todoCnt }},
            5-{{ todoCnt }},
          ],
          backgroundColor: [
            window.chartColors.orange,
            window.chartColors.yellow,
          ],
          label: 'Dataset 1',
          borderWidth: 0
        }],
        labels: [
          "Last TODO",
          "Done",
        ]
      },
      options: {
        cutoutPercentage: 78,
        responsive: true,
        legend: {
          position: 'bottom',
        },
        title: {
          display: true,
          text: '남은 할 일'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

        var config4Datecalc  = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [
              {{ pastDays }},
            {{ post.projectDuration }}-{{ pastDays }}],
          backgroundColor: [
            window.chartColors.green,
            window.chartColors.red,
          ],
          label: 'Dataset 1',
          borderWidth: 0
        }],
        labels: [
          "Progress",
          "Last Date",
        ]
      },
      options: {
        cutoutPercentage: 78,
        responsive: true,
        legend: {
          position: 'bottom',
        },
        title: {
          display: true,
          text: '남은 기간'
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };

    window.onload = function() {
        var i = 0;
        var ctx = document.getElementById("chart-todo").getContext("2d");
        window.myDoughnut = new Chart(ctx, config4todo);

        var ctx = document.getElementById("chart-schedule").getContext("2d");
        window.myDoughnut = new Chart(ctx, config4Datecalc);
    };
  </script>
</head>

<body>
  <div class="div_container">
    <div class="left-menu">
        <div class="site_title">
      <a href="/" style="font-size : 15px; color : white; text-decoration:none;">
        <img src="{% static "Demo/Icon/Forge-resize50.png" %}" alt="Forge.png">
        <span>&nbsp;&nbsp;<span>Forge The Project</span>
      </a>
      </div>

        <div class="left-menu-contents" style="text-align:center; order: 2;">
          <div class="card-body">
            <p></p>
            <img class="card-img-top" style="width:90%;" src="{% static 'images/' %}{{post.postImage}}">
            <p></p>
            <p>{{ post.postName }}</p>
            <p>팀장 {{ post.userID }}</p>
            <p>{{ post.postDescription }}</p>
            <p>프로젝트 내용</p>
            <p>{{ post.postDescription }}</p>
            <p></p>
          </div>
        </div>
    </div>
    <div class="right-main">
      <div class="nav justify-content-end">

        {% if user.username == post.userID %}
          <li class="nav-item">
            <button class="btn btn-outline-primary Application" onclick="location.href='{% url 'edit' post_id=post.postID %}'" type="button" style="position : relative; top : 0.6rem; display : block">수정하기</button>
          </li>
        {% elif user.username == post.member1 or user.username == post.member2 %}
          <li class="nav-item">
            <button class="btn btn-outline-primary Application" onclick="location.href='{% url 'edit' post_id=post.postID %}'" type="button" style="position : relative; top : 0.6rem; display : block">수정하기</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger Application" onclick="location.href='{% url 'quit' post_id=post.postID %}'" type="button" style="position : relative; top : 0.6rem; display : block">그만하기</button>
          </li>
        {% else %}
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active" href="{% url 'join' post_id=post.postID %}">참여하기</a>-->
        <!--</li>-->
          <li class="nav-item">
            <button class="btn btn-outline-success Application" onclick="location.href='{% url 'join' post_id=post.postID %}'" type="button" style="position : relative; top : 0.6rem; display : block">참여하기</button>
          </li>
        {% endif %}
      </div>

      <!--content-->
      <div class="right-content container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!--Start to Chart-->
            <div class="chartdiv container">
              <div class="row">
                <div class="col-6 canvas-holder">
                  <canvas id="chart-todo" style="width:10%;height:10%;margin:15px" />
                </div>
                <div class="col-6 canvas-holder">
                  <canvas id="chart-schedule" style="width:10%;height:10%;margin:15px" />
                </div>
              </div>
            </div>
            <!--End to Chart-->
          </div>


          <div class="col-md-6 col-sm-6 col-xs-12">

            <!--Start to Notice-->

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="notice col">
                  <h4>Notice</h4>
                  <div class="card notice-element">
                    <div class="card-body">
                      {{ post.notice }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--End to Notice-->

            <!--Start to Member-->

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Members col">
                  <h4>Members</h4>
                  <div class="Member-board container">
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>Name : {{ post.userID }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <!--<img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">-->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>{% if post.member1 %} Name : {{ post.member1 }} {% else %} Blank {% endif %}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card member-element">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <!--<img src="{% static 'Demo/Icon/Forge-black.png' %}" alt="IMG"style="padding-left:35px;">-->
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>{% if post.member2 %} Name : {{ post.member2 }} {% else %} Blank {% endif %}</p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--End to Member-->
          </div>
        </div>

       <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="Pannel todoBoard">
              <h4>To Do List</h4>
                <ul class="todo_item">
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo1 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo2 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo3 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo4 }}</p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" class="flat"> {{ post.todo5 }}</p>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="Pannel">
              <h4>Recent Activities</h4>
              <ul class="timeline">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a>{{ post.recentChangedTitle}}</a>
                      </h2>
                      <div class="byline">
                        by <a>{{ post.recentChangedBy }}</a>
                      </div>
                      <p class="excerpt">{{ post.recentChangedDescription }}
                      </p>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="Pannel" style="width: 60%">
              <h4>Calendar</h4>
              <div class="container">
	<div class="row" style="padding-left: 30px; padding-bottom: 30px;">
		<div class="span12">
    	    <table class="table-condensed table-bordered table-striped" style="text-align: center">
                <thead>
                    <tr>
                      <th colspan="7" >
                        <a class="btn"><i class="icon-chevron-left"></i></a>
                        <a class="btn">2017년 12월</a>
                        <a class="btn"><i class="icon-chevron-right"></i></a>
                      </th>
                    </tr>
                    <tr>
                        <th>Su</th>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="muted"> </td>
                        <td class="muted"> </td>
                        <td class="muted"> </td>
                        <td class="muted"> </td>
                        <td class="muted"> </td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>

                    </tr>
                    <tr>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                    </tr>
                    <tr>
                      <td>31</td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>
